__pycache__/
*.pyc
.pytest_cache/
results/tune/
results/**/*.log
lean/.lake/
results/grok*/**/checkpoints.pt
results/grok*/*.log
results/world/**/checkpoints.pt
results/world/*.log
results/world_tf/**/checkpoints.pt
results/world_tf/*.log
results/interface/*.log
results/cont/*.log
results/discover/**/checkpoints.pt
results/discover/*.log
results/resolution/*.log
results/click/**/checkpoints.pt
results/click/logs/
